@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #2a2a2a;
}

.alert {
  border-radius: 0.375rem;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.alert-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(70 105 250 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.alert-primary.light-mode {
  --tw-bg-opacity: 14%;
  --tw-text-opacity: 1;
  color: rgb(70 105 250 / var(--tw-text-opacity));
}
.alert-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(160 174 192 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.alert-secondary.light-mode {
  --tw-bg-opacity: 14%;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}
.alert-success {
  --tw-bg-opacity: 1;
  background-color: rgb(80 199 147 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.alert-success.light-mode {
  --tw-bg-opacity: 14%;
  --tw-text-opacity: 1;
  color: rgb(80 199 147 / var(--tw-text-opacity));
}
.alert-danger {
  --tw-bg-opacity: 1;
  background-color: rgb(241 89 92 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.alert-danger.light-mode {
  --tw-bg-opacity: 14%;
  --tw-text-opacity: 1;
  color: rgb(241 89 92 / var(--tw-text-opacity));
}
.alert-warning {
  --tw-bg-opacity: 1;
  background-color: rgb(250 145 107 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.alert-warning.light-mode {
  --tw-bg-opacity: 14%;
  --tw-text-opacity: 1;
  color: rgb(250 145 107 / var(--tw-text-opacity));
}
.alert-info {
  --tw-bg-opacity: 1;
  background-color: rgb(12 231 250 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.alert-info.light-mode {
  --tw-bg-opacity: 14%;
  --tw-text-opacity: 1;
  color: rgb(12 231 250 / var(--tw-text-opacity));
}
.alert-light {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}
.alert-light.light-mode {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.alert-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.alert-dark.light-mode {
  --tw-bg-opacity: 54%;
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}
.alert-outline-primary {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(70 105 250 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(70 105 250 / var(--tw-text-opacity));
}
.alert-outline-secondary {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(160 174 192 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(160 174 192 / var(--tw-text-opacity));
}
.alert-outline-success {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(80 199 147 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(80 199 147 / var(--tw-text-opacity));
}
.alert-outline-danger {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(241 89 92 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(241 89 92 / var(--tw-text-opacity));
}
.alert-outline-warning {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(250 145 107 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(250 145 107 / var(--tw-text-opacity));
}
.alert-outline-info {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(12 231 250 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(12 231 250 / var(--tw-text-opacity));
}
.alert-outline-light {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}
.alert-outline-dark {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(15 23 42 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

@layer components {
  .btn {
    @apply font-semibold  text-sm leading-6 md:px-6 md:py-3 px-4 py-[10px] rounded capitalize  transition-all duration-150 md:whitespace-nowrap whitespace-normal relative;
  }
  .btn.btn-xl {
    @apply text-[16px] md:px-10 px-7 md:py-4 py-3;
  }
  .btn.btn-sm {
    @apply text-xs md:px-4 py-2 px-3;
  }
  .btn.block-btn {
    @apply block w-full text-center;
  }
  .btn.block-btn span {
    @apply justify-center;
  }
  .btn-dark {
    @apply bg-slate-900 dark:bg-slate-900 dark:hover:bg-opacity-70   text-white  hover:ring-2 hover:ring-opacity-80 ring-black hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-primary {
    @apply bg-blue-500 dark:hover:bg-opacity-70  text-white hover:ring-2 hover:ring-opacity-80 ring-blue-500 hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
  .btn-secondary {
    @apply bg-gray-500 dark:hover:bg-opacity-70  text-white hover:ring-2 hover:ring-opacity-80 ring-gray-500 hover:ring-offset-1 dark:hover:ring-0 dark:hover:ring-offset-0;
  }
}

.ql-editor,
.ql-container.ql-snow {
  min-height: 150px;
}
